<!-- thanks to https://codepen.io/kenchen/pen/tgBiE for doing 99% of this -->

<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>

<div class="vertical-centered-box">
    <div class="content">
        <div class="loader-circle"></div>
        <div class="loader-line-mask">
            <div class="loader-line"></div>
        </div>
        <img src="./icon.png" alt="icon" width="64px" height="64px">
    </div>
</div>
<link rel="stylesheet" href="load.css">
<script src="load.js"></script>