.status {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 100;

    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    text-align: center;
}
.loadercontainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
.loader{
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
}
body {
    text-align: center;
    background: #2a2b2c;
    background: linear-gradient(142deg,#2d2d2d 0%,#33333d 100%);
    overflow: hidden;
}
